/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display:block;
}

body {
    line-height:1;
}

ol, ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content:'';
    content:none;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

:focus {
    outline:0;
}

/*selection*/
::-moz-selection {
    background:#000;
    color:#fff;
    text-shadow:none;
}

::selection {
    background:#000;
    color:#fff;
    text-shadow:none;
}

/*main*/
body {
	font-family:Century Gothic;
}

img {
	-ms-interpolation-mode: bicubic;
    image-rendering: optimizeQuality;
}

#menu{
	height:207px;
}

header {
	position:fixed;
	float:right;
	height:100%;
	width:300px;
	text-align:center;
}

header img{
	margin-bottom:25px;
}

header h2{
	opacity:0.55;
	margin-bottom:25px;
	font-size:15px;
	cursor:default;
}

#space {
	width:2px;
}

nav ul {
	
}

nav ul li {
	opacity:0.55;
	margin-bottom:8px;
	font-size:13px;
	cursor:pointer;
}

nav ul li:hover {
	
}
/*
nav ul li:nth-child(3){
	margin-bottom:25px;
}
*/
a {
	text-decoration:none
}
a:hover {
	text-decoration:none;
}

.primaryMenu{

}

#sketchesMenu{
	margin-bottom:15px;
}

.secondMenu{

}

.subMenu{
	font-size:12px;
	margin-bottom:0px;
	opacity:0;
}